[SddmGreeterTheme]
Name=Weyland-Yutani
Description=A cinematic, terminal-based sci-fi login interface.
Author=Arnav (Forked from Marian Arlt)
Copyright=Copyright (C) 2026 Arnav
License=GPL-3.0-or-later
Type=sddm-theme
Version=2.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=weyland-yutani
Theme-API=2.11
